    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,600&display=swap');

    *{
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
    }
    body{
    overflow-x: hidden;
    }


    .admin h1{
        display: flex;
        justify-content: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
    }

    .admin p{
        display: flex;
        justify-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        
    }



    /* form register */

    /* Add padding to containers */
    .container {
    width: 100%;
    margin-top: 30px;
    padding: 16px;
    border-radius: 40px;
    background-color: white;
    }

    /* Full-width input fields */
    input[type=text], input[type=email], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    }

    input[type=text]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
    }

    #Qualification{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    }

    #Qualification:focus{
    background-color: #ddd;
    outline: none;
    }


    /* Overwrite default styles of hr */
    hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    }

    /* Set a style for the submit button */
    .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    }

    .registerbtn:hover {
    opacity: 1;
    }

    /* Add a blue text color to links */
    a {
    color: dodgerblue;
    }

    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
    background-color: #f1f1f1;
    text-align: center;
    }

    #form-id{
        display: none;
    }

    #form-add{
        display: none;
    }

    #FormData{
        margin-top: 20px;
        
    }

    .button{
        display: flex;
    }

    .button1 {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        background-color: #008CBA;
        cursor: pointer;
    }
    .button1:hover{
        background-color: #043a4b;
    }

    .button2 {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        background-color: crimson;
        cursor: pointer;
    }

    .button2:hover{
        background-color:rgb(119, 13, 34);
    }

    .button3 {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        background-color: rgb(11, 232, 22);
        cursor: pointer;
    }

    .button3:hover{
        background-color: rgba(3, 63, 6, 0.904);
    }
    button i{
     margin-right:10px;
    }
    
    /* .button2 {background-color: #008CBA;} Blue */

    /* form register */